<div class="gifit-progress">
	<a class="gifit-progress-close" href="#close"></a>
	<div class="gifit-progress-information-container">
		<div class="gifit-progress-information"></div>
		<div class="gifit-progress-container">
			<progress max="1"></progress>
			<img />
		</div>
	</div>
</div>