@youtube_chrome_height: 39px;
@youtube_player_content_bottom: @youtube_chrome_height + 10px;
@gifit_app_bottom: @youtube_chrome_height + 10px;

@fullscreen_youtube_chrome_height: 58px;
@fullscreen_youtube_player_content_bottom: @fullscreen_youtube_chrome_height + 10px;
@fullscreen_gifit_app_bottom: @fullscreen_youtube_chrome_height + 10px;

@color_youtube_toolbar_2015: rgb( 238, 238, 238 );
@color_youtube_toolbar_hover_2015: rgb( 255, 255, 255 );
@color_youtube_toolbar_active_2015: @color_youtube_toolbar_hover_2015;

.gifit-ytp-2015 {
	.gifit-app {
		bottom: @gifit_app_bottom;
		text-shadow: none;
	}

	.gifit-button {
		height: inherit;
		padding: 0 8px;
		line-height: inherit;
		color: @color_youtube_toolbar_2015;
		font-size: 150%;

		&:hover {
			color: @color_youtube_toolbar_hover_2015;
		}
	}

	.ytp-button-gif.ytp-button {
		width: auto;
	}

	&.player-api {

		// "big mode" (fullscreen) overrides
		.html5-video-player.ytp-big-mode {
			.gifit-app {
				bottom: @fullscreen_gifit_app_bottom;
			}
		}

		&.gifit--active {
			.ytp-button-gif.ytp-button {
				opacity: 1;
				
				.gifit-button {
					color: @color_youtube_toolbar_active_2015;
				}
			}

			// Force the player chrome to remain visible
			.ytp-gradient-bottom,
			.ytp-chrome-bottom {
				opacity: 1;
			}

			// Make sure branding icon is in the right place
			.html5-video-player {
				.ytp-player-content {
					bottom: @youtube_player_content_bottom;
				}

				&.ytp-big-mode {
					.ytp-player-content {
						bottom: @fullscreen_youtube_player_content_bottom;
					}
				}
			}
		}
	}
}