@import 'roboto.less';
@import 'arizonia.less';

@MAXIMUM_Z_INDEX: 2147483647;

@color_gif: rgb( 255, 255, 255 );
@color_it: rgb( 255, 255, 255 );
@color_youtube_toolbar: rgb( 117, 117, 117 );
@color_panel_text: rgb( 175, 175, 175 );
@color_panel_background: rgba( 255, 255, 255, 0.9 );
@color_input_text: rgb( 25, 25, 25 );
@color_input_border: rgb( 215, 215, 215 );
@color_button_background: rgb( 235, 15, 15 );
@color_border_color: rgba( 255, 255, 255, 0.1 );
@video_controls_height: 27px;
@label_font_size: 10px;
@input_border_radius: 3px;
@button_border_radius: 3px;

@-webkit-keyframes glow {
	0% {
		background: lighten( @color_button_background, 10% );
	}
	50% {
		background: lighten( @color_button_background, 20% );
	}
	100% {
		background: lighten( @color_button_background, 10% );
	}
}

#gifit-start {
	float: right;
	height: @video_controls_height;
	line-height: @video_controls_height;
	color: @color_youtube_toolbar;

	&:hover {
		color: rgb( 255, 255, 255 );
	}

	.gifit-gif {
		font-family: 'robotobold', sans-serif;
	}

	.gifit-it {
		font-family: 'arizoniaregular', sans-serif;
		font-size: 125%;
	}
}

#gifit-options {
	display: none;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	bottom: 35px;
	z-index: 700;
	width: 280px;
	margin: -362px 0 0 -62px;
	padding: 25px;
	font-family: 'robotoregular', sans-serif;
	font-size: 12px;
	color: @color_panel_text;
	background: @color_panel_background;

	fieldset,
	.gifit-actions {
		opacity: 0;
	}

	&.processing {
		#gifit-submit {
			-webkit-animation: glow 2000ms infinite;
		}
	}
}

#gifit-submit {
	cursor: pointer;
	display: block;
	width: 130px;
	margin: 25px auto 0 auto;
	padding: 0 10px;
	font-size: 24px;
	line-height: 35px;
	background: @color_button_background;
	border-radius: @button_border_radius;
	outline: none;
	-webkit-transition: -webkit-transform 150ms, background 100ms;

	&:hover {
		background: lighten( @color_button_background, 10% );
	}

	&:active {
		-webkit-transform: scale( 0.95 );
		-webkit-transition: -webkit-transform 0;
	}

	.gifit-gif {
		font-family: 'robotobold', sans-serif;
		color: @color_gif;
	}

	.gifit-it {
		font-family: 'arizoniaregular', sans-serif;
		font-size: 125%;
		color: @color_it;
	}
}

#gifit-canvas {
	position: fixed;
	top: -9999px;
	left: -9999px;
}

body.gifit-active {
	#gifit-start {
		color: rgb( 255, 255, 255 );
	}
}

.gifit {

	fieldset {
		line-height: 35px;
	}

	label {
		text-transform: uppercase;
		font-size: @label_font_size;
		font-family: 'robotobold', sans-serif;
		line-height: @label_font_size;
	}

	input[type="text"],
	input[type="number"] {
		font-family: 'robotoregular', sans-serif;
		font-size: 22px;
		color: fadeout( @color_input_text, 20% );
		background: none;
		outline: none;
		transition: background-color 550ms, border-color 550ms;
		border: @color_input_border 1px solid;
		border-radius: @input_border_radius;
		padding: 13px 7px 0 7px;

		&:focus {
			color: @color_input_text;
			background-color: rgba( 255, 255, 255, 0.5 );
			border-color: darken( @color_input_border, 10% );
			transition: background-color 225ms, border-color 225ms;
		}

		&[type="number"]::-webkit-inner-spin-button,
		&[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type="range"] {
			cursor: pointer;
			vertical-align: middle;
			margin-top: 0;
		}
	}

	fieldset {
		clear: both;
		margin-bottom: 10px;
	}

	.gifit-input-container {
		position: relative;
		width: 100%;

		&.gifit-input-container__range {
			box-sizing: border-box;
			padding: 20px 7px 0 7px;
		}

		label {
			position: absolute;
			top: 5px;
			left: 7px;
		}

		input {
			display: block;
			box-sizing: border-box;
			width: 100%;
		}
	}

	.gifit-inputs-linked__vertical {
		.gifit-input-container {
			&:first-child input {
				border-radius: @input_border_radius @input_border_radius 0 0;
			}

			&:last-child input {
				margin-top: -1px;
				border-radius: 0 0 @input_border_radius @input_border_radius;
				border-top-color: transparent;

				&:focus {
					border-top-color: darken( @color_input_border, 10% );
				}
			}
		}
	}

	.gifit-inputs-linked__horizontal {
		.gifit-input-container {
			width: 50%;
			float: left;

			&:first-child input {
				border-radius: @input_border_radius 0 0 @input_border_radius;
			}

			&:last-child input {
				margin-left: -1px;
				border-radius: 0 @input_border_radius @input_border_radius 0;
				border-left-color: transparent;

				&:focus {
					border-left-color: darken( @color_input_border, 10% );
				}
			}
		}
	}

}
