.controlBar {
  position: relative;
  height: 12px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  color: var(--color-primary-system);

  &:focus-within {
    color: var(--color-highlight);
  }
}

.total {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-system);
  opacity: 0.5;
}

.start,
.end {
  position: absolute;
  padding: 0;
  width: 3px;
  height: 12px;
  border-radius: 2px;
  color: currentColor;
  background: currentColor;

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }
}

.start {
  bottom: 0;
  left: 0;
}

.end {
  bottom: 0;
  left: 0;
}

.range {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: currentColor;
}

.start,
.end,
.range {
  transition: transform 250ms;
}