.controlBar {
  position: relative;
  height: 12px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  color: var(--color-primary-system);
  transition: color 500ms;

  &:hover,
  &:focus-within {
    color: var(--color-highlight);
  }

  &IsActive,
  &IsActive:hover,
  &IsActive:focus-within {
    color: var(--color-active);
    transition: color 0ms;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }
}

.total {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-system);
  opacity: 0.5;
}

.start,
.end {
  position: absolute;
  padding: 0;
  z-index: 10;
  width: 5px;
  height: 12px;
  color: currentColor;
  background: currentColor;

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }

  &:hover {
    background: currentColor;
  }
}

.start {
  bottom: 0;
  left: 0;
  border-radius: 1px 1px 0px 5px;
}

.end {
  bottom: 0;
  left: 0;
  border-radius: 1px 1px 5px 0px;
}

.range {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 1px;
  background: currentColor;
  opacity: 0.5;
}

.start,
.end,
.range {
  transition: transform 250ms;
}