.ggs {
	position: relative;
	padding: 20px 25px;
	border-radius: 4px;
	
	backdrop-filter: contrast(1.05) saturate(1.5) blur(5px);
	background-color: hsla(240, 22.5%, 24%, 0.8);
	transition: box-shadow 1250ms, border-color 1250ms;
	border: transparent 1px solid;
}

.main {
	position: relative;
}

.form {
	display: grid;
	grid-gap: 20px 25px;
	grid-template-columns: 100px minmax(150px, 1fr) 100px;
	grid-template-rows: 20px minmax(100px, 1fr) minmax(min-content, max-content) 35px;
	grid-template-areas:
		"comms comms comms"
		"dimensions workspace quality-and-frame-rate"
		"start-and-end start-and-end start-and-end"
		"footer footer footer";
	margin: -10px 0;
	position: relative;
	z-index: 5;
}

.head {
	grid-area: header;
	align-self: center;
	justify-self: center;
	margin-bottom: 15px;
}

.comms {
	grid-area: comms;
	justify-self: center;
	align-self: center;
}

.widthBar {
	grid-area: width-bar;
	justify-self: center;
	align-self: end;
	width: 100%;
}

.videoInfo {
	grid-area: video-info;
	justify-self: center;
	font-size: var(--ggs-font-size-micro);
	color: var(--color-subsystem);
}

.dimensions {
	grid-area: dimensions;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.width {
	grid-area: width;
}

.height {
	grid-area: height;
}

.heightBar {
	grid-area: height-bar;
}

.workspace {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	grid-area: workspace;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-shade);
}

.qualityAndFrameRate {
	grid-area: quality-and-frame-rate;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: space-around;
}

input[type="number"].qualityNumberInput {
	width: 40px;
	padding-right: 5px !important;
}

.qualityRangeInput {
	width: 100%;
	margin-left: 0;
}

.startAndEnd {
	grid-area: start-and-end;
	display: grid;
	grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
	grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
	grid-template-areas:
		"time-bar time-bar time-bar"
		"start frames end";
	grid-gap: 5px;
	justify-content: space-between;
	align-items: center;
}

.timeBar {
	grid-area: time-bar;
	flex-basis: 100%;
	margin-bottom: 15px;
}

.start {
	grid-area: start;

	.startInput {
		margin-bottom: 0;
	}
}

.end {
	grid-area: end;

	.endInput {
		margin-bottom: 0;
	}
}

.frames {
	grid-area: frames;
	justify-self: stretch;
	align-self: center;
	min-width: 150px;
}

.frameRate {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.lines {

}

.footer {
	grid-area: footer;
	align-self: center;
	justify-self: center;
}

.actions {
}

.action {
	display: inline-block;
	margin: 0 5px;
	text-decoration: none;
}