.ggs {
	position: relative;
	padding: 20px;
	border-radius: 4px;
	
	backdrop-filter: blur(4px) contrast(1.025);
	background-image: linear-gradient(-10deg, rgba(0,0,0,0.5), transparent);
	background-color: hsla(234.5, 35.5%, 10%, 0.45);
	
	input[type="text"],
	input[type="number"] {
		position: relative;
		display: inline-block;
		width: 100px;
		min-width: 15px;
		margin-left: -12px;
		margin-right: -6px;
		padding: 5px 12px;
		border-radius: 4px;
		border: none;
		color: currentColor;
		background: none;

		font-size: 24px;
		font-weight: bold;
		font-variant-numeric: tabular-nums;
		line-height: 1;

		transition: background 250ms;

		&::after {
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: black;
			position: absolute;
			top: 3px;
			right: 4px;
		}

		&:hover,
		&:focus {
			outline: none;
			background: var(--color-shade);
		}
	}
}

.form {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 150px minmax(150px, 1fr) 150px;
	grid-template-rows: 25px minmax(min-content, max-content) minmax(100px, 1fr) minmax(min-content, max-content) 35px;
	grid-template-areas:
		"comms comms comms"
		". width-bar video-info"
		"dimensions workspace quality-and-frame-rate"
		"start-and-end start-and-end start-and-end"
		"footer footer footer";
	margin: -10px 0;
}

.head {
	grid-area: header;
	align-self: center;
	justify-self: center;
	margin-bottom: 15px;
}

.comms {
	grid-area: comms;
	justify-self: center;
	align-self: center;
}

.widthBar {
	grid-area: width-bar;
	justify-self: center;
	align-self: end;
	width: 100%;
}

.videoInfo {
	grid-area: video-info;
	justify-self: center;
	font-size: var(--ggs-font-size-micro);
	color: var(--color-subsystem);
}

.dimensions {
	grid-area: dimensions;
	align-self: stretch;
	justify-self: end;
	grid-column-gap: 10px;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 12px;
	grid-template-areas: "width height-bar" "height height-bar";
}

.width {
	grid-area: width;
}

.height {
	grid-area: height;
}

.heightBar {
	grid-area: height-bar;
}

.workspace {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	grid-area: workspace;
}

.qualityAndFrameRate {
	grid-area: quality-and-frame-rate;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: space-around;
	position: relative;
}

input[type="number"].qualityNumberInput {
	width: 55px;
}

.qualityRangeInput {
	width: 100%;
	margin-left: 10px;
}

.startAndEnd {
	grid-area: start-and-end;
	display: grid;
	grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
	grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
	grid-template-areas:
		"time-bar time-bar time-bar"
		"start frames end";
	grid-gap: 5px;
	justify-content: space-between;
	align-items: center;
}

.timeBar {
	grid-area: time-bar;
	flex-basis: 100%;
}

.start,
.end {
	padding-top: 5px;
}

.start {
	grid-area: start;

	.startInput {
		margin-bottom: 0;
	}
}

.end {
	grid-area: end;

	.endInput {
		margin-bottom: 0;
	}
}

.frames {
	grid-area: frames;
	justify-self: stretch;
	align-self: center;
	min-width: 150px;
}

.frameRate {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.lines {

}

.footer {
	grid-area: footer;
	align-self: center;
	justify-self: center;
}

.actions {
}

.action {
	display: inline-block;
	margin: 0 5px;
	text-decoration: none;
}