:root {
	--hsl-aluminum-blue: 225, 100%, 75%;
	--color-shade: hsla(0, 0%, 0%, 0.35);
  --color-active: hsla(160, 100%, 62.7%, 1);
	--color-nightshade: hsla(240, 21.6%, 15.5%, 0.95);
  --color-nighttime: hsla(235, 25.6%, 10%, 1);
	--color-intensity-red: hsl(350, 100%, 60%);
	--color-system: hsla(var(--hsl-aluminum-blue), 0.75);
  --color-primary-system: hsla(225, 89%, 95%, 1);
	--color-subsystem: hsla(var(--hsl-aluminum-blue), 0.25);
	--color-highlight: var(--color-intensity-red);
  --color-error: hsl(20deg, 100%, 55%);

	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

  --ggs-font-default: 'Inter', sans-serif;
	--ggs-font-numeric: 'Space Grotesk', sans-serif;
	--ggs-font-size-micro: 8px;
  --ggs-font-size-small: 11px;
}

.backdrop {
  position: fixed;
  z-index: 5000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-500px);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-nightshade);
}

.app {
  position: fixed;
  z-index: 5000001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--ggs-font-default);
  font-size: var(--ggs-font-size-small);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--color-primary-system);
}

@keyframes :global(gifitPulse) {
  0% {
    box-shadow: hsla(var(--hsl-aluminum-blue), 0.35) 0 0 1px 2px, hsla(var(--hsl-aluminum-blue), 0.45) 0 0 0px 0px;
  }
  100% {
    box-shadow: hsla(var(--hsl-aluminum-blue), 0.05) 0 0 0px 1px, hsla(var(--hsl-aluminum-blue), 0) 0 0 5px 15px;
  }
}

.app :global {
  * {
    box-sizing: border-box;
  }

  .icon {
    width: 16px;
    fill: currentColor;
  }

  input {
    font-family: var(--ggs-font-numeric) !important;
  }

  button,
  label,
  input[type="submit"] {
    font-family: var(--ggs-font-default) !important;
  }

  input,
  button {
    &:focus {
      outline: none;
      animation-iteration-count: infinite;
      animation-duration: 2750ms;
      animation-name: gifitPulse;
      animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    }
  }

  label {
    font-size: var(--ggs-font-size-small);
  }

  button {
    border: none;
    cursor: pointer;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }

  input[type="range"] {
		-webkit-appearance: none;
		cursor: -webkit-grab;
		vertical-align: middle;
		background: transparent;
    user-select: none;
    cursor: default;
    color: var(--color-primary-system);
    transition: color 500ms;

		width: 100%;
		background: linear-gradient(to bottom,
      transparent,
      transparent calc(50% - 1px),
      var(--color-subsystem) calc(50% - 1px),
      var(--color-subsystem) 50%,
      transparent 50%
    );
    background-position-y: center;

    &::-moz-range-thumb {
      -webkit-appearance: none;
			position: relative;
			z-index: 2;
			height: 20px;
			width: 6px;
			border-radius: 3px;
			background: currentColor;
			border: none;
      user-select: none;
    }

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			position: relative;
			z-index: 2;
			height: 20px;
			width: 6px;
			border-radius: 3px;
			background: currentColor;
			border: none;
      user-select: none;
		}

		&::-webkit-slider-runnable-track {
			position: relative;
		}

    &:hover,
    &:focus {
      color: var(--color-highlight);
      outline: none;
    }

		&:active {
			cursor: -webkit-grabbing;
      color: var(--color-active);
		}
	}
}

.actions {
  position: absolute;
  top: 30px;
  right: 30px;
}