.incrementableInput {
  display: flex;
  align-items: stretch;
  position: relative;

  .input[type="text"] {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.decrementor,
.incrementor {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  padding: 7px 7px;
  color: currentColor;
  z-index: 1;
  background: transparent;

  &:hover {
    background: transparent;
    box-shadow: none !important;
  }

  &:focus {
    animation: none !important;
  }
}

.decrementor {
  left: 0;
}

.incrementor {
  right: 0;
}