.resizeWrapper {
  display: inline-block;
  position: relative;
  user-select: none;
  color: var(--color-primary-system);
  transition: color 500ms;

  &IsActive,
  &IsActive:hover,
  &IsActive:focus-within {
    transition: color 0ms;
  }
}

.top, .right, .bottom, .left {
  position: absolute;
  padding: 0;
  background: transparent;

  &:hover {
    background: var(--color-active);
  }

  &:disabled {
    background: none;
    pointer-events: none;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }
}

.top, .bottom {
  height: 1px;
  width: 100%;
  cursor: ns-resize !important;
}

.right, .left {
  width: 1px;
  height: 100%;
  cursor: ew-resize !important;
}

.top {
  top: -1px;
  left: 0;
}

.right {
  top: 0;
  right: -1px;
}

.bottom {
  bottom: -1px;
  left: 0;
}

.left {
  top: 0;
  left: -1px;
}