.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  perspective: 300px;
  perspective-origin: 50% 50%;
}

.sphere {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 1, 45deg);
  will-change: transform;
}

.ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: currentColor 1px solid;
  transform: rotate3d(1, 0, 0, 0deg);
}

.ring:nth-child(2) {
  transform: rotate3d(0, 1, 0, 90deg);
}

.ring:nth-child(3) {
  transform: rotate3d(1, 0, 0, 90deg);
}