.frames {
	min-width: 150px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: var(--color-subsystem);
}

.frame {
	display: inline-block;
	width: 1px;
	height: 2px;
	margin: 1px;
	background: currentColor;
}

.frameComplete {
	width: 3px;
	height: 4px;
	margin: 0;
}

.pending,
.complete {
	max-height: 75px;
	line-height: 1px;
	text-align: center;
}

.complete {
	color: var(--color-active);
}

.count {
	font-size: var(--ggs-font-size-micro);
	letter-spacing: normal;
	line-height: 1;
	margin: 1px;
	float: left;
}

.countComplete {
	float: right;
	font-size: 10px;
}