.workspace {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
	justify-content: stretch;
  align-items: stretch;
	perspective: 500px;

  background: var(--color-shade);

	&:before {
		top: 6px;
		left: 8px;
	}

	&:after {
		bottom: 6px;
		right: 8px;
	}
}

.images {
	display: flex;
	justify-content: center;
  align-items: center;
	width: 100%;
	height: 100%;
}

.result,
.canvas {
	border-radius: 3px;
}

.result {
  position: absolute;
  display: block;
  z-index: 20;
	box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
}

.canvas {
  background: black;
	z-index: 10;
}

.seekIndicator {
	position: absolute;
	z-index: 15;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: var(--color-active);
}