.infoList {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  letter-spacing: 1px;
  margin: 0;
}

.infoListTerm {
  /* facebook overrode this colour */
  color: currentColor;
}

.infoListTerm:after {
  content: '︱';
}

.infoListDetails {
  margin-left: 0;
  /* facebook overrode this colour */
  color: currentColor;
}

.value {
  font-weight: bold;
  font-style: normal;
  font-variant-numeric: tabular-nums;
}

.unit:before {
  content: '·';
}