.systemMessage {
  color: var(--color-system);
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: var(--color-primary-system);
  }
}

.systemMessageError {
  .title, strong {
    color: var(--color-error);
  }
}

.title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  border: currentColor 1px solid;
  padding: 4px 20px;
}

.body {
  font-size: 18px;
  line-height: 175%;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 15px;
}

.signature {
  &:before {
    content: '— ';
  }

  font-weight: bold;
  align-self: flex-end;
}