.systemMessage {
  border: currentColor 1px solid;
  color: var(--color-system);
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
  text-align: center;;
}

.systemMessageError {
  color: var(--color-error);
}

.title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}