.comms {
  position: relative;
  color: var(--color-subsystem);
  width: 300px;
  height: 25px;
  overflow: hidden;
}

.message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}