.comms {
  position: relative;
  color: var(--color-subsystem);
  width: 300px;
  height: 25px;
  overflow: hidden;

  &:before,
  &:after {
    content: '·';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}