.infoList {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  letter-spacing: 1px;
}

.infoListTerm {
}

.infoListTerm:after {
  content: '︱';
}

.infoListDetails {
  margin-left: 0;
}

.value {
  font-weight: bold;
  font-style: normal;
}

.unit:before {
  content: '·';
}