.systemInput {
	display: block;
	margin: 15px;
	color: var(--color-primary-system);
	transition: color 500ms;

  &:hover {
    color: var(--color-highlight);
  }

	&:focus-within {
		color: var(--color-active);
    transition: color 125ms;
	}
}

.name {
  display: inline-block;
  color: currentColor;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.addendum {
  font-family: var(--ggs-font-numeric);
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  color: currentColor;
}