@keyframes gifitPulse {
  0% {
    box-shadow: hsla(var(--hsl-aluminum-blue), 0.35) 0 0 1px 2px, hsla(var(--hsl-aluminum-blue), 0.5) 0 0 0px 0px;
  }
  100% {
    box-shadow: hsla(var(--hsl-aluminum-blue), 0.05) 0 0 0px 1px, hsla(var(--hsl-aluminum-blue), 0) 0 0 5px 15px;
  }
}

.systemInput {
	display: block;
  margin: 0;
	color: var(--color-primary-system);
  background: var(--color-shade);
  transition: color 500ms, background 250ms;
  padding: 8px 12px 2px 12px;
  border-radius: 3px;
  backdrop-filter: blur(1px);

  input[type="text"],
	input[type="number"] {
		position: relative;
		display: inline-block;
		min-width: 15px;
		padding: 5px 12px;
		color: currentColor;
		border: none;
		background: transparent;

		font-size: 18px;
		font-weight: bold;
		font-variant-numeric: tabular-nums;
		line-height: 1;

		&::after {
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: black;
			position: absolute;
			top: 3px;
			right: 4px;
		}

		&:hover,
		&:focus {
			outline: none;
		}
	}

  &:hover {
    color: var(--color-highlight);
    box-shadow: hsla(var(--hsl-aluminum-blue), 0.05) 0 0 1px 2px;
  }

	&:focus-within {
		color: var(--color-active);
    transition: color 125ms;
    outline: none;
    animation-iteration-count: infinite;
    animation-duration: 2750ms;
    animation-name: gifitPulse;
    animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
	}
}

.name {
  display: inline-block;
  color: currentColor;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 -12px;
}

.addendum {
  display: flex;
  z-index: 2;
  font-family: var(--ggs-font-numeric);
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  letter-spacing: normal;
  color: var(--color-subsystem);
  margin-right: 12px;
}