:root {
	--color-aluminum-blue: hsl(225deg 100% 80%);
	--color-intensity-red: hsl(350deg, 100%, 60%);
	--color-system: var(--color-aluminum-blue);
	--color-highlight: var(--color-intensity-red);
	--system-interface-opacity: 0.65;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance: textfield; /* Firefox */
}

.gifit-app {
	position: fixed;
	z-index: 5000000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(27, 31, 41, 0.9);
	box-shadow: inset rgb(0 0 0 / 25%) 0 0 10vw;
	backdrop-filter: blur(4px);

	font-family: Inter, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	* {
		box-sizing: border-box;
	}

	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
	}

	button {
		font-family: Inter, sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		line-height: 1.25;
		letter-spacing: 3px;

		border: none;
		border-radius: 3px;
		background: white;
		color: rgb(25, 25, 25);
		padding: 5px 20px;
	}
}

.gifit__labelled-input {
	color: white;

	&:focus-within {
		color: var(--color-highlight);
	}

	&__label {
		display: inline-block;
		margin-bottom: 5px;
		color: currentColor;
	}

	&__data {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	&__input {
		display: inline-block;
		width: 0;
		min-width: 70px;
		margin-left: -15px;
		margin-right: -15px;
		padding: 5px 15px;
		border-radius: 4px;
		border: none;
		color: currentColor;
		background: rgba(0, 0, 0, 0.15);

		font-family: 'Space Grotesk', sans-serif;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
	}

	&__addendum {
		font-family: 'Space Grotesk', sans-serif;
		font-size: 15px;
		font-weight: bold;
		text-transform: none;
		letter-spacing: normal;
		color: currentColor;
		opacity: 0.5;
	}

	&__input-info {
		opacity: 50%;
		font-size: 20px;
		margin-left: -10px;
	}
}

.ggs {
	position: relative;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 150px minmax(150px, 1fr) 150px;
	grid-template-rows: 35px 95px minmax(100px, 1fr) 95px 35px;
	grid-template-areas:
		"header header header"
		". width ."
		"height workspace quality-and-frame-rate"
		". start-and-end ."
		"footer footer footer"
}

.ggs__corner {
	position: absolute;
	display: block;
	width: 5px;
	height: 5px;
	border: var(--color-system) 1px solid;
	border-radius: 50%;
	opacity: var(--system-interface-opacity);
	
	&:nth-child(1) {
		top: 17px;
		left: 0;
	}

	&:nth-child(2) {
		top: 17px;
		right: 0;
	}

	&:nth-child(3) {
		bottom: 17px;
		right: 0;
	}

	&:nth-child(4) {
		bottom: 17px;
		left: 0;
	}
}

.ggs__head {
	grid-area: header;
	align-self: center;
	justify-self: center;
	padding: 5px 7px;
	border: var(--color-system) 1px solid;
	border-radius: 3px;
	opacity: var(--system-interface-opacity);
	color: var(--color-system);
	line-height: 1.25;
}

.ggs__width {
	grid-area: width;
	align-self: end;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__bar {
		margin-top: 25px;
		width: 420px;
		height: 2px;
		background: white;
	}
}

.ggs__height {
	grid-area: height;
	align-self: center;
	justify-self: end;
	display: flex;
	align-items: center;

	&__bar {
		margin-left: 25px;
		height: 315px;
		width: 2px;
		background: white;
	}
}

.ggs__workspace {
	grid-area: workspace;	
	display: flex;
	align-items: center;
	justify-content: center;
}

.ggs__canvas {
	width: 420px;
	height: 315px;
	background: black;
}

.ggs__quality-and-frame-rate {
	grid-area: quality-and-frame-rate;
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	align-self: stretch;
	justify-content: space-around;
}

.ggs__start-and-end {
	grid-area: start-and-end;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ggs__time__bar {
	flex-basis: 100%;
	height: 2px;
	background: white;
}

.ggs__footer {
	grid-area: footer;
	align-self: center;
	justify-self: center;
}