@import url('./vendor/normalize.css');
@import url('./vendor/gifit-site.css');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arizonia);

html {
	font-family: Roboto, Helvetica, sans-serif;
	text-align: center;
	color: rgb( 135, 135, 136 );
	background-color: rgb( 38, 38, 39 );
	background-image: url('../images/fuzz.gif');
	background-size: 100%;
}

h1 {
	font-size: 2.25rem;
}

h3 {
	margin: 0.5rem;
	font-size: 1.5rem;
}

a,
a:hover,
a:focus,
a:active {
	outline: none;
}

a {
	color: currentColor;
	transition: color 150ms;
}

a:hover {
	color: rgb( 175, 175, 180 );
}

button,
.button {
	cursor: pointer;
	display: inline-block;
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 0.75rem 1.25rem;
	font-family: inherit;
	text-decoration: none;
	background: rgb( 135, 135, 136 );
	color: rgb( 255, 255, 255 );
	box-shadow: 0 4px 10px rgba( 0, 0, 0, 0.25 );
	transition: transform 150ms, background 250ms, box-shadow 150ms;
}

button:hover,
.button:hover {
	color: rgb( 255, 255, 255 );
	transform: scale( 1.05 );
	box-shadow: 0 7px 16px rgba( 0, 0, 0, 0.25 );
}

button:active,
.button:active {
	transform: scale( 1.025 );
	transition: transform 25ms, background 0ms;
}

footer {
	margin: 10rem 0 5rem;
}

.gifit-logo {
	color: rgb( 255, 255, 255 );
}

.gifit-logo__gif {
	font-weight: bold;
}

.gifit-logo__it {
	font-family: Arizonia, serif;
	font-size: 125%;
	font-weight: normal;
}

.gifit-steps {
	counter-reset: item;
	list-style-type: none;
	padding: 0;
}

.gifit-steps__step {
	margin: 0 0 3.5rem 0;
}

.gifit-steps__step:before {
	display: block;
	content: "Step " counter(item);
	counter-increment: item;
	margin: 1.125rem 0;
	font-size: 1.125rem;
	font-weight: light;
	text-transform: uppercase;
}

.gifit-steps__text {
	color: rgb( 255, 255, 255 );
}

.gifit-install {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb( 255, 255, 255 );
	background: rgb( 222, 44, 44 );
}

.gifit-install:hover {
	background: rgb( 244, 50, 50 );
}

.gifit-install:active {
	background: rgb( 210, 40, 40 );
}

.gifit-install .gifit-install__text--post-install {
	display: none;
}

.gifit-install--installed {
	pointer-events: none;
	background: rgb( 70, 184, 106 );
}

.gifit-install--installed .gifit-install__text--pre-install {
	display: none;
}

.gifit-install--installed .gifit-install__text--post-install {
	display: inline;
}

#headline {
	margin: 6.5rem 0 5.5rem 0;
	font-weight: normal;
}

#headline__logo {
	font-size: 125%;
}

#github-link {
	position: fixed;
	top: 2rem;
	right: 1.5rem;
}

#how-to {
	margin: 0 0 6.5rem 0;
	font-size: 1.5em;
}

#step__do-youtube img {
	width: 480px;
}

#step__gifit img {
	width: 480px;
}